
<h2>Create Employee</h2>
<form id="create_employee_form" action="/api/user" method="post">
  Name :
  <input type = "string" name="name"> <br>
  EmployeeId :
  <input type = "string" name="employeeId"> <br>
  Password :
  <input type = "password" name="password"><br>
  ManagerId :
  <input type = "string" name="managerId"> <br>
  Role :
  <input type = "string" name="role"><br>
  <input type = "submit" value = "create" >
</form>
