<h2>Leave Status</h2>

<table id="leave-status-table" border="1">
  <tr>
    <th>Reason</th>
    <th>From</th>
    <th>To</th>
    <th>Status</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
