<!DOCTYPE html>
<html>
  <body>
    <h1>Welcome <%= name %> </h1>

    <h3><a href="/createuser">Create a user</a></h3>
    <h3><a href="/users">View all users</a></h3>
    <h3><a href="/updateuser">Update a user</a></h3>
    <!-- <h3><a href="/deleteuser">Delete a user</a></h3> -->
    <h3><a href="/applyleave">Apply leave</a></h3>
    <h3><a href="/leavestatus">See leave status</a></h3>
    <h3><a href="/leaverequests">See leave requests</a></h3>

  </body>
</html>
