<!DOCTYPE html>
<html>
  <body>
    <h1>Welcome <%= name %> </h1>

    <h3><a href="/users/new">Create a user</a></h3>
    <h3><a href="/users">View all users</a></h3>
    <!-- <h3><a href="/users/update">Update a user</a></h3> -->
    <!-- <h3><a href="/deleteuser">Delete a user</a></h3> -->
    <h3><a href="/leaves/apply">Apply leave</a></h3>
    <h3><a href="/leaves/status">See leave status</a></h3>
    <h3><a href="/leaves/requests">See leave requests</a></h3>

  </body>
</html>
