<!DOCTYPE html>
<html>
  <head>
    <script src= "scripts/lib/jQuery.js"></script>
    <script src= "scripts/user.js"></script>
  </head>
  <body>
    <h1><%= userData.name %> DashBoard</h1>
    <% if(allUsers) { %>
    <% include ./partials/usercrud %>
    <% } %>
    <% include ./partials/leaveapplication %>
    <% include ./partials/leaverequest %>
    <% include ./partials/leavestatus %>
  </body>
</html>
