<!DOCTYPE html>
<html>
  <head>
    <script src= "scripts/lib/jQuery.js"></script>
    <script src= "scripts/user.js"></script>
  </head>
  <body>
    <h1>Delete Employee Record</h1>
    <p><% if(locals.msg){ %><%= msg %><%}%></p>
    <form id="delete-employee-form" action="/users/delete" method="delete">

      employeeEmail :
      <select name="employeeEmail">
      <option value="">Select</option>
      <% allUsers.forEach(function(user) { %>
          <option value="<%= user.employeeEmail %>"><%= user.employeeEmail %></option>
       <% }); %>
       </select> <br>

      <input type = "submit" value = "Remove" >
    </form>

    <h3><a href="/home">Home</a></h3>
  </body>
</html>
