<h2>Apply Leave</h2>
<form id="leave-application-form">
  Reason :
  <input type = "string" name="reason"> <br>
  From :
  <input type = "date" name="fromDate"> <br>
  To :
  <input type = "date" name="toDate"><br>
  Type :
  <input type = "string" name="leaveType"> <br>
  <input type = "submit" value = "create" >
</form>
