<h2>Leave Requests</h2>
<table id="leave-requests-table" border="1">
  <tr>
    <th>Applicant</th>
    <th>Reason</th>
    <th>From</th>
    <th>To</th>
    <th>Action</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
