
<h1>Create Employee</h1>
<p id="msg"><% if(locals.msg){ %><%= msg %><%}%></p>
<form id="create_employee_form" action="/createuser" method="post">
  Name :
  <input type = "string" name="name" required="true"> <br>
  EmployeeId :
  <input type = "string" name="employeeId" required="true"> <br>
  Password :
  <input type = "password" name="password" required="true"><br>
  ManagerId :
  <input type = "string" name="managerId"> <br>
  Role :
  <input type = "string" name="role"><br>
  Phone :
  <input type = "string" name="phone"><br>

  <input type = "submit" value = "create" >
</form>

<h3><a href="/home">Home</a></h3>
